---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center text-[var(--color-gwent-yellow-minion)]">
      Gwent Soundboard
    </h1>
    <div class="mt-8 p-8 bg-[var(--color-gwent-green-castleton)] rounded-lg shadow-lg">
      <p class="text-lg text-center text-[var(--color-gwent-yellow-icterine)]">
        Welcome to the Gwent Soundboard! Click on the cards to hear the sounds.
      </p>
    </div>
  </main>
</Layout>
