---
interface Props {
  player1FactionImagePath: string;
  player2FactionImagePath: string;
}

const { player1FactionImagePath, player2FactionImagePath } = Astro.props;
---

<div id="coin-container" class="w-40 h-40 perspective-1000">
  <div
    id="coin"
    class="relative w-full h-full transform-style-3d transition-transform duration-1000"
  >
    <div
      class="absolute w-full h-full backface-hidden rounded-full bg-gradient-to-br from-yellow-600 to-yellow-800 flex items-center justify-center shadow-lg"
    >
      <img
        src={player1FactionImagePath}
        alt="Player 1 Faction"
        class="h-32 w-32 object-contain"
      />
    </div>
    <div
      class="absolute w-full h-full backface-hidden rounded-full bg-gradient-to-br from-gray-700 to-gray-900 transform rotate-y-180 flex items-center justify-center shadow-lg"
    >
      <img
        src={player2FactionImagePath}
        alt="Player 2 Faction"
        class="h-32 w-32 object-contain"
      />
    </div>
  </div>
</div>